<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ATablesEntities" connectionString="metadata=res://*/ATablesData.csdl|res://*/ATablesData.ssdl|res://*/ATablesData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=COR9425\SQLEXPRESS;initial catalog=ATables;user id=sa;password=Bebuchini23;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GeneralTablesEntities" connectionString="metadata=res://*/GeneralTables.csdl|res://*/GeneralTables.ssdl|res://*/GeneralTables.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=COR7203\SQLEXPRESS;initial catalog=GeneralTables;persist security info=True;user id=temp1;password=bebuchini;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>